body.about {
    color: #fefefe;
    margin-top: 10px;
    background: linear-gradient(15deg, #ffffff, #f45e00) 0% 0% / 200% 200%; 
    max-width: auto;
    max-height: 10px;
  }


  .about h1 {
    font-style: bold;
    margin-left: 20px;
    font-family: Copperplate,Copperplate Gothic bold,fantasy;
    }

/* Navigation Styles */
nav {
    display: flex;
    font-family: Copperplate,Copperplate Gothic bold,fantasy; 
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgba(5, 5, 5, 0); 
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0), 0 5px 5px 0 rgba(180, 180, 180, 0); 
    padding: 0px; 
    margin-bottom: -10px; 
  }
  
  nav a {
    margin-top: -50px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none; 
    margin: 0 0 px; 
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.1s ease;
  }
  
  nav a:hover {
    background-color: #ffffff59; 
  }

  .section-about {  
    position: relative;
    display: flex;
     align-items: center;
     text-align: justify;
     border-radius: 10px;
     margin: 50px auto; 
     width: fit-content;
     max-width: 850px; 
     padding: 50px;
     background-color: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(10px);
     box-shadow: 0 0 40px rgba(0, 0, 0, 0.6); 
   }
   
   .section-about::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(1, 1, 0, 0.709); 
     border-radius: 10px;
     z-index: -1;
   }

   img {
    border-radius: 20%;
    object-fit: fill; 
    display: block; 
    margin: 0 auto;
    zoom: 90%;
  }

  .card-about h2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
  }

  .bio-about p{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
  }

  p{
    text-align: center;
  }

  .card-about button {
    border-radius: 10px;
    border: 0px solid hsl(0, 0%, 100%); 
    background-color: #fdfdfd;
    display: flex; 
    align-items: center;
    text-align: center;
    justify-content: center;
    
    cursor: pointer;
    padding: 0.5em -22em; 
    font-size: 1rem; 
    text-transform: uppercase; 
    transition: background-color 0.2s ease-in-out; 
  }
  
  .card-about button:hover {
    background-color: #ffffff57; 
  }

  .about h1{
    margin-top: 20px;
    margin-left: 11px;
  }

  .about a{
    margin-bottom: 60px;
    margin-top: -57px;
  }